<link rel="stylesheet" href="../stylesheets/contactpage.css">
<div style= "background-color: #5317ab;">

    <div class="center main">
        <p id="t1">{{title}}</p>
        <a>
            <h2>You can contact me on my email.</h2>
        </a>
    <h3>jaygoyani2@gmail.com</h3>
    </div>
    <div style="padding-top: 250px;"></div>
</div>