
 <link rel="stylesheet" href="../stylesheets/homepage.css">
<div style= "background-color: #5317ab;">
    <div class="main">
        <div class="center">
            <p id="maintitle"> How Can I Help You?</p>
        </div>
        <div class="leftdiv">
            
            <p id="subtitle">Need A Laravel Web-Application!!!</p>
            <p style="padding-right:50%;" id="subtitle1">I have 2 years of experience Web-Appication Development with Laravel framework.</p>    
        </div>

        <div class="rightdiv">
            <p id="subtitle">Ask Me If You Need Help In Machine Learning</p>
            <p id="subtitle1">Experienced in SVM, KNN, Linear Regression and Logistic Regression.</p>    
        </div>
    </div>
    
</div>