
 <link rel="stylesheet" href="../stylesheets/projectpage.css">
 <div style= "background-color: #5317ab;" class="section">
   
    <h1>Projects</h1>
    {{!-- https://codepen.io/schlenges/pen/erdpoZ --}}
    
    <div class="container">
      <div class="item" id="1">
        <img src="../images/machinelearning.jpg" alt="">
        <div class="text">
          <h3>Pet Identification System</h4>
          <p>A machine learning model which helps to identifify difference bitween dogs of same breed.</p>
        </div>
        
      </div>

      <div class="item" id="2">
        <img src="https://images.unsplash.com/photo-1496492352121-593138d42a61?ixlib=rb-0.3.5&ixid=eyJhcHBfaWQiOjEyMDd9&s=3542849cc0459345e3aa82a90ae51a01&auto=format&fit=crop&w=1350&q=80" alt="">
        <div class="text">
          <h3>Healthcare System</h4>
          <p>A web application which helps to book appointment for medical test.</p>
        </div>
        
      </div>

  </div>
</div>