.center {
    
    text-align: center;
}

.main {
    padding: 100px; 
}
#maintitle {
    font-size: 40px;
    color: white;
}

.leftdiv {
    padding-top: 5%;
}

#subtitle {
    font-size: 35px;
    color: white;
}

#subtitle1 {
    font-size: 20px;
    color: white;
}

.rightdiv {
    padding-top: 5%;
    padding-left:55%;
}