
/*https://codepen.io/schlenges/pen/erdpoZ*/
#t1 {
    color: white;
    font-size: 40pt;
}
.center {
    
    text-align: center;
}

.main {
    padding: 100px; 
}

h2 {
    color: white;

}

h3 {
    color: white;
}